/* main.css */

html {/*
  background: rgb(244,67,54) url(../img/startup/startup.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.home-content {
  height: 600px;
}

.face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd;
}

.md-toolbar-tools .face {
  width: 32px;
}

form {
  padding: 20px;
}

em {
  font-size: .9em;
  color: #7e7e7e;
}

md-icon {
  margin-top: 0px;
  width: 24px;
  height: 24px;
  color: #444;
}
md-icon .s24 {
  width: 24px;
  height: 24px;
}
md-icon .s36 {
  width: 36px;
  height: 36px;
}
md-icon .s48 {
  width: 48px;
  height: 48px;
}
  
.scenario-points {
  font-weight: bold;
}