<md-content layout="column" layout-fill layout-align="top center"><!-- class="md-padding home-content" layout="column" layout-sm="row" -->
    <h2 class="md-title">Gestor de utilidades para Warmachine y Hordes</h2>
    <p>Esto es una versión <strong>alpha</strong>, así que iremos poco a poco.</p>
    <p>Información técnica y reporte de bugs en <a href="https://github.com/isorna/kovnik">github.com/isorna/kovnik</a>.</p>
    <p><a href="https://developer.chrome.com/multidevice/android/installtohomescreen">Cómo instalar la web app en tu dispositivo android</a>.</p>
</md-content>