<md-content layout-padding>
    <md-list>
        <md-subheader class="md-no-sticky">Aquí tienes la lista de escenarios:</md-subheader>
        <md-list-item ng-repeat="item in scenarios" ng-click="goToScenario(item.id, $event)">
            <md-icon md-svg-src="{{oURL.icons.map}}" class="s24" alt="Mapa"></md-icon>
            <p>{{item.name}}</p>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item ng-click="randomScenario($event)">
            <md-icon md-svg-src="{{oURL.icons.explore}}" class="s24" alt="Explorar"></md-icon>
            <p>Elegir un escenario aleatorio</p>
        </md-list-item>
    </md-list>
</md-content>