<md-content layout="column" layout-fill layout-align="top center">
    <md-card>
        <img ng-src="{{data.image}}" class="md-card-image" alt="{{data.name}}"/>
        <md-card-content>
            <h2 class="md-title">{{data.name}}</h2>
            <p><strong>Kill Box: </strong>{{(data.killBox) ? 'Sí' : 'No'}}</p>
            <p ng-repeat="text in data.texts">{{text}}</p>
            <ul class="scenario-points">
                <li ng-repeat="pointsText in data.points">{{pointsText}}</li>
            </ul>
        </md-card-content>
    </md-card>
</md-content>